<section class="promise-card {{#if promise.tfin}}completed{{/if}} {{dueColor (dueStatus promise.tdue)}}">
  <div class="promise-header">
    <div class="promise-credit {{creditColor promise.credit}}">
      {{prettyCredit promise.credit}}
    </div>
    <h2 class="promise-user">
      <a href="{{userPath user}}">
        {{promise.user.username}}
      </a>
      <span class="{{scoreColor promise.user.score}}">
        {{prettyPercent promise.user.score}}
      </span>
    </h2>
    <div class="promise-slug">
      <a href="{{promisePath promise}}">
        {{promise.slug}}
      </a>
    </div>
  </div>

  {{#if promise.tdue}}
    <div class="promise-bar promise-bar--due">
      <span class="promise-bar-date" style="opacity:.75">
        By {{prettyDate promise.tdue}}
      </span>
    </div>
  {{/if}}

  <div class="promise-details">
    <a href="{{promisePath promise}}">
      <div class="promise-domain">
        {{promiseDomain promise.domain}}
      </div>

      {{> promise promise=promise}}

      {{#if promise.note}}
        <small>
          ({{promise.note}})
        </small>
      {{/if}}
    </a>
  </div>

  <div class="promise-bar promise-bar--bottom {{#if promise.tfin}}promise-bar--completed{{/if}}">
    <div class="bar-button-action">
      {{#if promise.tfin}}
        <span class="promise-bar-date" style="opacity:.75">
          Completed {{prettyDate promise.tfin}}
        </span>
      {{else}}
        {{#if user}}
          <a class="promise-bar-link" href="#" onclick="completePromise('{{user.username}}', '{{promise.id}}')">
            Mark {{completeCredit promise.credit}} Complete
          </a>
        {{/if}}
      {{/if}}
    </div>
  </div>
</section>
