<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.10.3/sweetalert2.min.css"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.10.3/sweetalert2.min.js"></script>


<section class="promise-card">
  <h2 class="promise-user">
    <a href="/{{promise.user}}.{{__appDomain}}/">
      {{promise.user}}
    </a>
    <span style="opacity:.75">{{prettyDate promise.tfin}}</span>
    <span style="opacity:.25">&nbsp;({{promise.id}})</span>
  </h2>

  <div class="promise-domain">{{promise.domain}}</div>
  
  {{> promise promise=promise}}
  
  {{#if secret}}
    <div class="promise-action-bar">
      <!--<div class="action-bar-button">
        <a href="#" class="promise-action">
          Delete
        </a>
      </div>-->
      <div class="action-bar-button">
        <a href="#" onclick="completePromise({{promise.id}})" class="promise-action">
          Complete
        </a>
      </div>
    </div>
  {{/if}}
</section>
