<section class="promise-card">
  <h2 class="promise-user">
    <a href="/{{promise.user}}.{{__appDomain}}/">
      {{promise.user}}
    </a>
    <span style="opacity:.5">{{promise.id}}</span>
  </h2>
  {{log promise.domain}}
  <div class="promise-domain">{{dpromise.omain}}</div>
  
  {{> promise promise=promise}}
  
  {{#if secret}}
    <div class="promise-action-bar">
      <div class="action-bar-button">
        <a href="#" class="promise-action">
          Delete
        </a>
      </div>
      <div class="action-bar-button">
        <a href="#" class="promise-action">
          Complete
        </a>
      </div>
    </div>
  {{/if}}
</section>
