<section class="promise-card {{dueStatus promise.tdue}}">
  <div class="promise-credit {{creditColor promise.tdue promise.tfin}}">
    {{creditStatus promise.tdue promise.tfin}}
  </div>
  <div class="promise-user">
    <h2>
      <a href="/{{promise.user}}.{{__appDomain}}/">
        {{promise.user}}
      </a>
    </h2>
    <div class="promise-slug">{{promise.slug}}</div>
    <!--<div class="promise-completion-date">
      {{prettyDate promise.tfin}}
    </div>-->
  </div>
  {{#if promise.tfin}}
    <div class="promise-bar">
      <div class="bar-button-action" style="opacity:.75">
        <a class="promise-bar-link">
          By {{prettyDate promise.tdue}}
        </a>
      </div>
    </div>
  {{/if}}

  <div class="promise-details">
    <div class="promise-domain">
      {{promiseDomain promise.domain}}
    </div>
    {{> promise promise=promise}}
  </div>

  <div class="promise-bar promise-bar--bottom {{#if promise.tfin}}promise-bar--completed{{/if}}">
    <!--<div class="bar-button-status">
      <a href="#" class="promise-bar-link">
        Delete
      </a>
    </div>-->
    <div class="bar-button-action">
      <a class="promise-bar-link" href="#" onclick="completePromise('{{promise.id}}')">
        {{#if promise.tfin}}
          Completed {{prettyDate promise.tfin}}
        {{else}}
          Mark Complete
        {{/if}}
      </a>
    </div>

  </div>
</section>
