<section class="promise-card">
  <h2 class="promise-user">
    <a href="/{{user}}.{{__domain}}/">
      {{user}}
    </a>
    <span style="opacity:.5">{{id}}</span>
  </h2>
  {{log urtx}}
  {{log domain}}
  <div class="promise-domain">{{domain}}</div>
  
  {{> promise}}
  
  {{#if actionable}}
    <div class="promise-action-bar">
      <div class="action-bar-button">
        <a href="#" class="promise-action">
          Delete
        </a>
      </div>
      <div class="action-bar-button">
        <a href="#" class="promise-action">
          Complete
        </a>
      </div>
    </div>
  {{/if}}
</section>
