<section class="promise-card {{dueStatus promise.tdue}}">
  <div class="promise-credit {{creditColor promise.tdue promise.tfin}}">
    {{creditStatus promise.tdue promise.tfin}}
  </div>
  
  <div class="promise-header">
    <h2 class="promise-user">
      <a href="/{{promise.user}}.{{__appDomain}}/">
        {{promise.user}}
      </a>
    </h2>
    <div class="promise-slug">
      <a href="/{{promise.urtext}}">
        {{promise.slug}}
      </a>
    </div>
  </div>
  
  {{#if promise.tdue}}
    <div class="promise-bar promise-bar--due">
      <span class="promise-bar-date" style="opacity:.75">
        By {{prettyDate promise.tdue}}
      </span>
    </div>
  {{/if}}

  <div class="promise-details">
    <a href="/{{promise.urtext}}">
      <div class="promise-domain">
        {{promiseDomain promise.domain}}
      </div>
      
      {{> promise promise=promise}}
      
      {{#if promise.note}}
        <small>
          ({{promise.note}})
        </small>
      {{/if}}
    </a>
  </div>

  <div class="promise-bar promise-bar--bottom {{#if promise.tfin}}promise-bar--completed{{/if}}">
    <div class="bar-button-action">
      {{#if promise.tfin}}
        <span class="promise-bar-date" style="opacity:.75">
          Completed {{prettyDate promise.tfin}}
        </span>
      {{else}}
        <a class="promise-bar-link" href="#" onclick="completePromise('{{promise.id}}')">
          Mark Complete
        </a>
      {{/if}}
    </div>
  </div>
</section>
