<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.10.3/sweetalert2.min.css"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.10.3/sweetalert2.min.js"></script>

<script src="/js/promise.js"></script>

<section class="promise-card {{dueStatus promise.tdue}}" style="{{creditStatus promise.tdue}}">
  <h2 class="promise-user">
    <a href="/{{promise.user}}.{{__appDomain}}/">
      {{promise.user}}
    </a>
    <div class="dateinfo">
      <ul>
        <li style="opacity:.75">{{prettyDate promise.tfin}}</li>
        <li style="opacity:.25">&nbsp;({{promise.id}})</li>
      </ul>
    </div>
  </h2>


  <div class="promise-domain">{{promise.domain}}</div>
  
  {{> promise promise=promise}}
  
  {{#unless promise.tfin}}
    <div class="promise-bar">
      <!--<div class="bar-button-status">
        <a href="#" class="promise-bar-link">
          Delete
        </a>
      </div>-->
      <div class="bar-button-action">
        <a href="#" onclick="completePromise('{{promise.id}}')" class="promise-bar-link">
          Mark Complete
        </a>
      </div>
    </div>
  {{/unless}}
</section>
