<section class="promise-card">
  <h2 class="promise-user">
    <a href="/{{user}}.{{_domain}}/">
      {{user}}
    </a>
    <span style="opacity:.5">{{id}}</span>
  </h2>
  <div class="promise-domain">{{__domain}}</div>
  {{> promise}}
</section>
