<section class="promise">
  <div class="promise-card {{cardClassesFor promise}} {{dueColor (dueStatus promise.tdue)}}">
    <div class="promise-header">
      <h2 class="promise-user">
        <a href="{{userPath user}}">
          {{promise.user.username}}
        </a>
      </h2>
      <div class="promise-user-score {{scoreColor promise.user.score}}">
        <span>{{prettyPercent promise.user.score 2}}</span>
      </div>
      <div class="counted-promises">
        {{promise.user.counted}}
        <span class="pending" >[+{{promise.user.pending}}]</span>
      </div>
    </div>

    <div class="promise-info">
      <div class="promise-details">
        <a href="{{promisePath promise}}">
          <div class="promise-domain">
            {{promiseDomain promise.domain}}
          </div>

          {{> promise promise=promise}}

          {{#if promise.note}}
            <small>
              {{promise.note}}
            </small>
          {{/if}}
        </a>
      </div>
    </div>

    {{#if promise.tdue}}
      <div class="promise-bar promise-bar--due">
        <div class="promise-bar-date" style="opacity:.75">
          <div class="relative-date">
            {{relativeDate promise.tdue}}
          </div>
          <div class="momentable" data-date="{{promise.tdue}}">
            <span><noscript>{{prettyDate promise.tdue}}</noscript></span>
          </div>
        </div>
      </div>
    {{/if}}
  </div>

  <div class="promise-footer">
    <div class="promise-bar-wrapper">
      <div style="width: {{completeCredit promise.credit}}" >
        {{#unless promise.tfin}}
          <div class="promise-bar promise-bar--bottom">
            <div class="bar-button-action">
              {{#if user}}
                <a href="#"
                  class="promise-bar-link {{dueColor (dueStatus promise.tdue)}}"
                  onclick='completePromise("{{user.username}}", "{{promise.id}}")'
                  title="Mark {{completeCredit promise.credit}} Complete">
                  <span>Mark {{completeCredit promise.credit}} Complete</span>
                </a>
              {{/if}}
            </div>
          </div>
        {{/unless}}
        {{#if promise.tfin}}
          <div class="credit--status {{creditColor promise.credit}}">
            <span class="promise-credit">{{prettyCredit promise.credit}}</span>
          </div>
        {{/if}}
      </div>
    </div>
    <div class="promise-slug">
      <a href="{{promisePath promise}}">
        {{promise.urtext}}
      </a>
    </div>
  </div>
</section>
