<div class="create-promise blue-border">
  <h1 class="promise-statement">
    <span>{{promise.user.username}}</span> {{verbifyDomain}}
    <span>{{promise.what}}</span> by:
    <span>{{prettyDate promise.tdue}}</span>
  </h1>

  <form action="/promises/edit" method="post" accept-charset="UTF-8" id="edit_{{promise.id}}">
    <div class="form-group-wrapper">
      <label for="what">What</label>
      <input name="what" type="text" value="{{promise.what}}">
    </div>

    <div class="form-group-wrapper">
      <label for="note">Note</label>
      <input name="note" type="text" value="{{promise.note}}">
    </div>

    <div class="form-group-wrapper">
      <label for="void">void</label>
      <select name="void">
        <option value="false">false</option>
        <option value="true" {{{selectedIfVoid promise}}}>true</option>
      </select>
    </div>

    <div class="form-group-wrapper">
      <label for="tini">Commitment made (tini)</label>
      {{> datepicker id='tini' value=promise.tini}}
    </div>

    <div class="form-group-wrapper">
      <label for="tdue">Commitment due (tdue)</label>
      {{> datepicker id='tdue' value=promise.tdue}}
    </div>

    <div class="form-group-wrapper">
      <label for="tfin">Commitment fulfilled (tfin)</label>
      {{> datepicker id='tfin' value=promise.tfin}}
    </div>

<!-- misleading to let people edit this until we support it
    <div class="form-group-wrapper">
      <label for="xfin">Fraction fulfilled</label>
      <input name="xfin" type="text" value="{{promise.xfin}}">
    </div>
-->
    <input type="hidden" name="id" value="{{promise.id}}">
    <input type="submit" class="promise-button" value="Save">
  </form>
</div>

<div class="delete-promise">
  <a class="delete-promise-button" href="#" onclick="deletePromise('{{user.username}}', '{{promise.id}}')">
    DELETE
  </a>
</div>
