<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

<script src="/js/picker.js"></script>
<script src="/js/create.js"></script>

<link rel="stylesheet" href="/picker.css">

<div class="create-promise blue-border">
  <h1 class="promise-statement">
    Did <span>{{promise.user}}</span> just {{verbifyDomain domain=promise.domain}}
    <span>{{promise.what}}</span>
  </h1>
  
  <div class="promise-picker">
    <h1>by:</h1>
    <fieldset>
      <input type="text" data-value="{{promise.tdue}}" id="input_text">
      <input type="text" id="input_date">
    </fieldset>
    <h1>?</h1>
  </div>
  
  <a class="promise-button" href="/promises/create/{{promise.urtext}}">Commit</a>
</div>