<div class="create-promise blue-border">
  <h1>{{promise.urtext}}</h1>
  <form action="/promises/edit/{{promise.id}}" method="post" accept-charset="UTF-8" id="edit_{{promise.id}}">
  <fieldset>
    <label for="promise_user">Who</label>
    <input name="promise_user" type="text" value="{{promise.user}}">
    <label for="promise_slug">Slug</label>
    <input name="promise_slug" type="text" value="{{promise.slug}}">
    <label for="promise_void">void</label>
    <input name="promise_void" type="text" value="{{promise.void}}">
    <label for="promise_note">Note</label>
    <input name="promise_note" type="text" value="{{promise.note}}">
    <label for="promise_slug">Tini</label>
    <input name="promise_tini" type="text" value="{{promise.tini}}">
    <label for="promise_tdue">Tdue</label>
    <input name="promise_tdue" type="text" value="{{promise.tdue}}">
    <label for="promise_tfin">Tfin</label>
    <input name="promise_tfin" type="text" value="{{promise.tfin}}">
    <label for="promise_slug">XFin</label>
    <input name="promise_xfin" type="text" value="{{promise.xfin}}">
  </fieldset>
  <fieldset>
    <input type="submit" class="promise-button" value="Edit">
  </fieldset>
  </form>
</div>