<div class="create-promise blue-border">
  <!-- <h1>{{promise.urtext}}</h1> -->
  <h1 class="promise-statement">
    <span>{{promise.user.username}}</span> {{verbifyDomain domain=promise.domain}}
    <span>{{promise.what}}</span>
    by:
    <span>{{prettyDate promise.tdue}}</span>
  </h1>
  <form action="/promises/edit/{{promise.id}}" method="post" accept-charset="UTF-8" id="edit_{{promise.id}}">
    <label for="user">Who</label>
    <input disabled name="user.username" type="text" value="{{promise.user.username}}">

    <label for="slug">Slug</label>
    <input disabled name="slug" type="text" value="{{promise.slug}}">

    <label for="void">void</label>
    <input name="void" type="text" value="{{promise.void}}">

    <label for="note">Note</label>
    <input name="note" type="text" value="{{promise.note}}">

    <label for="tini">Tini</label>
    {{> datepicker id='tini' value=promise.tini}}

    <label for="tdue">Tdue</label>
    {{> datepicker id='tdue' value=promise.tdue}}

    <label for="tfin">Tfin</label>
    {{> datepicker id='tfin' value=promise.tfin}}

    <label for="xfin">XFin</label>
    <input name="xfin" type="text" value="{{promise.xfin}}">

    <input type="submit" class="promise-button" value="Save">
  </form>
</div>
