<div class="create-promise blue-border">
  <h1>{{promise.urtext}}</h1>
  <form action="/promises/edit/{{promise.id}}" method="post" accept-charset="UTF-8" id="edit_{{promise.id}}">
  <fieldset>
    <label for="user">Who</label>
    <input name="user" type="text" value="{{promise.user}}">
    <label for="slug">Slug</label>
    <input name="slug" type="text" value="{{promise.slug}}">
    <label for="void">void</label>
    <input name="void" type="text" value="{{promise.void}}">
    <label for="note">Note</label>
    <input name="note" type="text" value="{{promise.note}}">
    <label for="slug">Tini</label>
    <input name="tini" type="text" value="{{promise.tini}}">
    <label for="tdue">Tdue</label>
    <input name="tdue" type="text" value="{{promise.tdue}}">
    <label for="tfin">Tfin</label>
    <input name="tfin" type="text" value="{{promise.tfin}}">
    <label for="slug">XFin</label>
    <input name="xfin" type="text" value="{{promise.xfin}}">
  </fieldset>
  <fieldset>
    <input type="submit" class="promise-button" value="Edit">
  </fieldset>
  </form>
</div>