{{> card promise=promise user=user}}

<div class="card-footer" style="text-align:center">
  <a style="float:left" href="{{editPromisePath promise}}">
    Edit
  </a>

  <a style="float:left" href="#" onclick="deletePromise('{{user.username}}', '{{promise.slug}}')">
    &nbsp;| Delete
  </a>

  <small>This promise has been viewed {{promise.clix}} times.</small>

  <a style="float:right" target="_blank" href="{{calendarUrl promise}}">
    Add to GCal
  </a>
</div>
