 <div class="user-promises-list blue-border">
  <h2 class="user-header {{creditColor reliability}}">
    <a class="user-name" href="/{{user}}.{{__appDomain}}/">
      {{user}}
    </a>
    <span class="user-reliability">
      {{prettyPercent reliability}}
    </span>
  </h2>
  <ul class="promises-list">
    {{#each promises}}
      <li>{{> card promise=this}}</li>
    {{/each}}
  </ul>
</ul>