 <div class="user-promises-list blue-border">
  <h2>
    <a href="/{{user}}.{{__appDomain}}/">
      {{user}}
      <span class="reliability--status {{reliabilityColor user promises}}">
        {{reliabilityStatus user promises}}
      </span>
    </a>
  </h2>
  <ul class="promises-list">
    {{#each promises}}
      <li>{{> card promise=this promises=../promises}}</li>
    {{/each}}
  </ul>
</ul>
