 <div class="user-promises-list blue-border">
  <h2 class="user-header {{creditColor reliability}}">
    <a class="user-name" href="{{userPath user}}">
      {{user.username}}
    </a>
    <span class="user-reliability">
      {{prettyPercent reliability}}
      <span>{{counted}}/{{promises.length}}</span>
    </span>
  </h2>
  <ul class="promises-list">
    {{#each promises}}
      <li>{{> card promise=this user=user}}</li>
    {{/each}}
  </ul>
</ul>
